---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: 5
...
